name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - name: Prepare java
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '8'

    - name: Install clojure tools
      uses: DeLaGuardo/setup-clojure@13.2
      with:
        lein: 2.11.2

    - uses: actions/checkout@v4

    - name: Run tests (Unix)
      if: runner.os != 'Windows'
      run: |
        lein uberjar
        lein test

    - name: Run tests (Windows)
      if: runner.os == 'Windows'
      shell: cmd
      run: |
        lein uberjar
        lein test
